extends ./root.jade

block title
    title Grade My Papers - Home

block content
    .section.no-pad-bot
        .container
            br
            br
            h1.header.center.orange-text Home page crap
            .row.center
                h5.header.col.s12.light A what what wahtw hwat
        
    .section
        .row
            .col.s12.m4
                h2.center.light-blue-text
                    i.material-icons flash_on
                h5.center Speeds up development
                    
                p.light We blah blah blah blah blah
                
            .col.s12.m4
                h2.center.light-blue-text
                    i.material-icons flash_on
                h5.center Speeds up development
                    
                p.light We blah blah blah blah blah
                
            .col.s12.m4
                h2.center.light-blue-text
                    i.material-icons flash_on
                h5.center Speeds up development
                        
                p.light We blah blah blah blah blah
                
